* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

h2 {
  font-size: 2em;
  color: #000033;
}

h3 {
  font-size: 1.25em;
  color: #000033;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  color: #666666;
}

#button-top {

  opacity: .5s, visibility .5s;
  background-color: #00CCCC;
  border-radius: 4px;
  bottom: 30px;
  display: inline-block;
  height: 50px;
  opacity: 0;
  position: fixed;
  right: 30px;
  text-align: center;
  transition: background-color .3s;
  visibility: hidden;
  width: 50px;
  z-index: 2000;

}

#button-top::after {

  color: #fff;
  content: "\f077";
  font-family: FontAwesome;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;

}
#button-top:hover {
  cursor: pointer;
  background-color: #000033;
}
#button-top:active {
  background-color: #555;
}
#button-top.show {
  opacity: 1;
  visibility: visible;
}

/* 01 - Header */

.main-menu {

  align-items: center;
  background-color: #000033;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 115px;
  justify-content: space-around;
  overflow: hidden;
  padding: 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000 !important;

}

.main-menu ul {
  display: flex;
  list-style-type: none;
}

.main-menu ul li {
  margin: 0 2em;
}

.main-menu ul li a {

  color: #fff;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;

}

.main-menu ul li a:hover {
  color: #00CCCC;
}

/* .logo {
  float: left;
  align-self: center;
} */

/* 02 - Banner */

.banner-wrap {
  position: relative;
}

.banner {
  margin-top: 115px;
}



.banner-img {

  background-image: url('../../img/banner-temp.png');
  background-size: cover;
  width: 100%;
  height: 70vh !important;

}

.banner-img2 {

  background-image: url('../../img/banner-temp2.jpg');
  background-size: cover;
  width: 100%;
  height: 70vh !important;

}

/* .banner-text {
  text-align: center;
  position: absolute;
  z-index: 3000;
}

.banner-title {
  font-size: 5em;
  color: #00CCCC;
  font-weight: 700;
}

.title-orange {
  color: #FF9900;
}

.banner-subtext {
  color: #fff;
  margin: 0 auto;
} */



/* 03 - About Us */

.about-us {

  -webkit-flex-flow: row wrap;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 0 15em;
  padding: 5em 0;

}

.about-img, .about-text {
  flex: 1;
}

.about-text {
  margin-left: 2em;
}

.about-img {
  display: flex;
  justify-content: center;
  max-height: 290px; 
}
.about-us h2 {
  padding-bottom: 0.5em;
}



/* 04 - Nosso Serviços - Our Services */

.servicos {
  background-color: #efefef;
  height: 100%;
  padding-bottom: 2em;
  text-align: center;
}

.servicos h2 {
  padding: 4rem 0 2em 0;
}

.servicos > .servicos-wrap {

  -webkit-flex-flow: row wrap;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;

}

.coluna1  {
  margin-bottom: 2em;
  text-align: center;
  width: 300px;
}

.coluna1 h3 {
  margin: 1em 0;
}

/* 05 - Como Funciona ? How it Works? */

.how-it-works-container {

  -webkit-flex-flow: row wrap;
  background-color: #000033;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around; 

}

.how-it-works-text, .how-it-works-image {
  flex: 1;
}

.how-it-works-text {
  margin: 3em 3em;
  width: 45%;
}

.how-it-works-image {
  background: url('../../img/how-it-works.jpg');
  background-size: cover;
}

.how-it-works h2, .how-it-works p {
  color: #efefef;
}

.how-it-works-text .sub-title {
  color: #00CCCC;
  font-weight: 900;
  margin-top: 2em;
}

.how-it-works-text a {
  color: #FF9900;
}

/* 06 - Por que Fontaniva? */

.why-fontaniva {
  text-align: center;
  padding: 4rem 0;   
}

.why-fontaniva h2 {
  margin-bottom: 1em;
}

.container-why-top, .container-why-bot {

  -webkit-flex-flow: row wrap;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;

}

.why-fontaniva img {
  margin-bottom: 0.5em;
}

.why-fontaniva .column-why h3 {
  margin: 0.5em 0;
}

.column-why {
  width: 300px;
  padding: 1em;
}
/* 07 - Perguntas Frequentes */

.ask {
  background-color: #efefef;
  padding: 2em 5em;
}

.ask h2 {
  padding: 2rem 0;
  text-align: center;
}

.accordion-container {
  margin: 0 auto;
  width: 90%;
}

button.accordion {

  background-color: #efefef;
  border-bottom: 1px solid #CCCCCC;
  border: none;
  color: #000033;
  cursor: pointer;
  font-size: 0.750em;
  outline: none;
  padding-top: 1.5em;
  text-align: left;
  transition: background-color 0.2s linear;
  width: 100%;

}

button.accordion:after {
  content: '\f107';
  float: right;
  font-family: "fontawesome";
  font-size: 2em;
}

button.accordion.is-open:after {
  content: '\f106';
  font-size: 2em;
  margin: 0.5em 0;
}

button.accordion:hover, button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {

  font-size: 0.8em;
  max-height: 0;
  overflow: hidden;
  padding-top: 1em;
  transition: max-height 0.2s ease-in-out;

}

/* 08 - Contato */

.contact {
  background-color: #fff;
  padding: 3em 0;
}

.contact h2 {
  text-align: center;
}

.form {

  -webkit-flex-flow: row wrap;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 95%;

}

.left, .right {
  flex: 1;
}


.contact p {

  text-align: center;
  margin: 0 5em;

}

.form-bold {

  font-weight: bold;

}

.form input {

  border-radius: 0.250em;
  border: 1px solid #666666;
  font-size: 1em;
  margin: 1em 0;
  padding: 0.5em 1em;
  width: 95%;

}
/* 
.right input {
  color: #00CCCC;
  font-weight: 700;
}


.right > ::-webkit-input-placeholder {
  color: #00CCCC;
  font-weight: 700;
}

.right > ::-moz-placeholder {
  color: #00CCCC;
  font-weight: 700;
}

.right > ::-ms-placeholder {
  color: #00CCCC;
  font-weight: 700;
}

.right > ::placeholder {
  color: #00CCCC;
  font-weight: 700;
} */

.form textarea {

  border-radius: 0.250em;
  border: 1px solid #666666;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  font-weight: 400;
  resize: none;
  width: 95%;

}

.form button {

  background-color: #00CCCC;
  border-radius: 0.250em;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  line-height: 3em;
  width: 95%;

}



/* 09 - Footer */

.footer {
  background-color: #000033;
  color: #999999;
  font-size: 0.8em;
  padding: 3em 0;
  text-align: center;
}


/* Media Queries */

@media only screen and (max-width: 960px) {
  .left, .right {
    flex: auto;
  }

  .ask h3 {
    font-size: 1em;
  }
  
  .how-it-works-text {
    text-align: center;
    margin: 3em 5em;
  }
  
  .coluna1 {
    width: 440px;
  }
  .how-it-works-image {
    display: none;
  }
  
  .about-us {
    flex: auto;
    text-align: center;
  }
  
  button.accordion:after {
    display: none;
  }
  
  button.accordion.is-open:after {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .about-us, .about-img {
    flex: auto;
    text-align: center;
  }
  .main-menu ul {
    font-size: 0.7em;
  }

  .about-text {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 1248px) {
  .about-us {
    margin: 0 5em;
  }
}


@media only screen and (max-width: 375px) {
  .main-menu ul {
    font-size: 0.7em;
  }

  .logo {
    max-height: 30px;
  }

  .main-menu ul li {
    margin: 0 0.5em;
  }
}